.btnInfo{
    background-color: #060b26;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1em;
    margin: 0 5px;
    display: flex;
    width: 50%;
    height: 50%;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
}

.imgPerfil{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}


.estado{
    position: relative;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;

}


.agentesW {
    position: absolute;
    display: flex;
    align-items: left;
    left: calc(16%);
    gap: 5%;
    flex-direction: column;
    
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;

    left: calc(16%);
    align-items: left;
    /* gap: 5%; */

    
}

@media (max-width: 600px) or (max-height: 600px) { 
    .column {
      flex-direction: column; 
    }

    .cardW {
        height: 30%;
        width: auto;
        
    }

    .tiposEstado{
        font-size: 1em;

    }

  }

.cardW {
    gap: 7%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* width: 155px;
    height: 300px; */
    width: auto;
    height: 20%;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-right: 5%;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.alinear{
    left: 16%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 20%;
    gap: 5%;
    align-items: center;

    
}

.btnSeleccion{
    background-color: #060b26;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1em;
    margin: 0 5px;
    margin-top: 5%;
    display: flex;
}

.tiposEstado{
    display: flex;
    justify-content: space-between; 
    font-size: 1.5em;
    position: relative;
    flex-wrap: wrap;
    margin: 0 auto;
    left: 0;

}

.column[data-color="blue"] .estado{
    background-color: #334de3;
}

.column[data-color="green"] .estado{
    background-color: #26af3f;
}

.column[data-color="yellow"] .estado{
    background-color: #e7e74c;
}

.column[data-color="gray"] .estado{
    background-color: #52524e;
}