.navBarra {
  display: flex;
  flex-direction: column;
  background-color: #060b26;
  height: 100%;
  font-size: 1.4em;
  align-items: center;
  position: fixed;
  left: 0;
}

.logo {
  max-width: 90%;
  max-height: 100%;
  margin-left: 3px;
}

.menu-bars {
  font-size: calc(0.8 * min(5vw, 5vh));
  background: #060b26;
  border-radius: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.icon {
  margin: 16px;
  font-size: calc(0.8 * min(5vw, 5vh));
  display: flex;
  align-items: center;
}

.nav-menu {
  background-color: #060b26;
  width: calc(15%);
  height: calc(100%);
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: all 500ms;
}


.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: left;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}
.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size:calc(0.8 * min(1.8vw, 3vh));
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #0096AE;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 8px;
}

