.navBarra {
  display: flex;
  flex-direction: column;
  background-color: #060b26;
  height: 100vh;
  font-size: 1.4em;
  align-items: center;
  position: fixed;
  left: 0;
  width: 70px;
  z-index: 2;
}

.logo {
  max-width: 90%;
  max-height: 100%;
  margin-left: 3px;
}

.menu-barras {
  font-size: calc(0.8 * min(5vw, 5vh));
  background: #060b26;
  border-radius: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.icono {
  margin: 16px;
  font-size: 40px;
  display: flex;
  align-items: center;
}

.nav-menu {
  background-color: #060b26;
  width: calc(15%);
  height: calc(100%);
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: all 500ms;
  z-index: 3;
}


.nav-menu.activo {
  left: 0;
  transition: 350ms;
}

.nav-texto {
  display: flex;
  justify-content: start;
  align-items: left;
  padding: 8px;
  list-style: none;
  height: 60px;
}
.nav-texto a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 35px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 4px;
}

.nav-texto a:hover {
  background-color: #0096AE;
}

.nav-menu-elementos {
  width: 100%;
}

.navbar-alternar {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-texto span {
  margin-left: 8px;
  font-size: 20px;
}

