.containerbox {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.izqdatos {
    flex: 40%;
    display: grid;
    place-items: center;
}

.derdatos {
    flex: 60%;
    display: grid;
    place-items: left;
    overflow: auto;
}

.derdatos table {
    width: 100%;
    border-collapse: collapse;
    
}

.derdatos th, .derdatos td {
    padding: 10px;
    border-bottom: 1px solid #ddd;

}

.derdatos td:nth-child(1) {
    font-weight: bold; 
    width: 60%;   
}

.foto {
    margin: 5px;
    max-width: 170px;
    max-height: 170px;
}