.detalles-mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(95, 95, 95, 0.377); 
   }
   
   .datos-cliente-detalles-mensaje {
       display: flex;
       flex-wrap: nowrap;
   }
   
   .detalles-mensaje h2 {
       width: 100%;
       text-align: center;
   }
   
   .detalles-mensaje button {
       width: 200px;
       text-align: center;
   }
   
   .imagen-cliente-detalles {
       font-size: 80px;
   }
   
   .botones-detalle-mensaje {
       display: flex;
       flex-direction: row;
   }
   
   .botones-detalle-mensaje button {
       width: 200px;
   }