  .body {
    margin: 0;
    color: black;
    background-color: #fcfcfc;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .Encuesta {
    /* margin: 0; */
    position: relative;
    width: 80%;
    top: 50%;
    color: black;
    background-color: #fcfcfc;
    display:flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    left:16%;



    background-color: white;
    max-width: 80%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #941B80;
    flex-grow: 1; 
  }
  
  /* PREGUNTAS */
  .arriba {
    width: 100%;
    max-width: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .numero-pregunta {
    margin-bottom: 20px;
  }
  
  .numero-pregunta span {
    font-size: 28px;
  }
  
  .titulo-pregunta {
    margin-bottom: 12px;
  }
  
  .abajo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* GRAL */
  .btn {
    width: 100%;
    font-size: 16px;
    color: black;
    background-color: white;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border: 2.5px solid rgb(0,150,173);
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(0,150,173);
  }
  
  button:focus {
    outline: none;
  }
  
  .env{
    width: 100%;
    font-size: 16px;
    color: black;
    background-color: white;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border: 2.5px solid rgb(0,150,173);
    cursor: pointer;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
  }


