.historico {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    left: calc(16%);
    gap: 5%;
    top: 5%;
    overflow-x: scroll;
}

.row{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    overflow-y: scroll;
    overflow-x: scroll;
    gap: 5%;
    align-self: flex-start;
}

@media (max-width: 600px) or (max-height: 600px) { 
    .row {
      flex-direction: row; 
    }

    .cards-wrapper {
        width: 80%;
        height: 100%;
    }
  }

.cards-wrapper {
    gap: 5%;
    width: 50%;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 2%;
    align-items: center;
}








