.ventana-transcripcion {
    display: flex;
    
    width: 100%;
    max-height: 75%;
    overflow-y: auto;
    margin: 2px;
    flex-direction: column;
    align-items: flex-start;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* Webkit browsers like Chrome, Safari, and Edge */
.ventana {
    max-height: 75%;
    overflow-y: auto;
    position: relative;
   
}

.ventana::-webkit-scrollbar {
    display: none;
}

.ventana-transcripcion .cliente {
    align-self: flex-start;
}

.ventana-transcripcion .agente {
    align-self: flex-end;
}
