.historial {
    width: 100%;
    text-align: center;
}

.historial table {
    border-collapse: collapse;
    width: 100%;
}

.historial th, .historial td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.historial th {
    position: relative;
    background-color: #f2f2f2;
}

.historial button{
    background-color: rgb(0,150,173);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.filtro {
    position: absolute;
    transform: translateX(-50%);
}

.titulo {
    text-align: left;
    padding: 10px 0;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    max-height: 75%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.cajatranscripcion {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}