.historico {
    position: absolute;
    display: flex;
    align-items: center;
    left: calc(16%);
    gap: 5%;
}

.row{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    align-items: center;
    /* overflow-y: scroll;
    overflow-x: scroll; */
    gap: 5%;


}

@media (max-width: 600px) or (max-height: 600px) { 
    .row {
      flex-direction: row; 
    }

    .cards-wrapper {
        width: 80%;
        height: 100%;
    }


  }

.cards-wrapper {
    gap: 5%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 2%;
    align-items: center;
}

.btnSeleccion{
    background-color: #060b26;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1em;
    margin: 0 5px;
    margin-top: 5%;
    display: flex;
}

.btnWrapper{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    margin: 0 auto; 
  
}

.fecha{
    display: none;
}
