.mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(105, 105, 105, 0.596);
    border-radius: 10px;
    margin: 5px;
}

.sender {
    color: rgb(0,150,173);
    font-size: small;
}